<div class="column gap-1">
  <!-- Add Product Button -->
  <button
    type="button"
    pButton
    icon="pi pi-plus"
    (click)="toggleAddPopup()"
    label="Add Product"
    class="add-pruduct-btn"
  ></button>

  <!-- Products Section -->
  <div class="row wrap gap-2 space-between">
    @for (product of products; track $index;) {
    <app-product
      [product]="product"
      (edit)="toggleEditPopup($event)"
      (delete)="toggleDelete($event)"
    ></app-product>
    }
  </div>

  <!-- Paginator -->
  <p-paginator
    [rows]="rows"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[5, 10, 20]"
    (onPageChange)="onPageChange($event)"
    #paginator
  ></p-paginator>
</div>

<!-- Edit Product -->
<app-edit-popup
  [product]="selectedProduct"
  [(display)]="displayEditPopup"
  (confirm)="onConfirmEdit($event)"
  header="Edit Product"
></app-edit-popup>

<!-- Add Product -->
<app-edit-popup
  [product]="selectedProduct"
  [(display)]="displayAddPopup"
  (confirm)="onConfirrmAdd($event)"
  header="Add Product"
></app-edit-popup>
